html,
body,
header,
    {
    height: 100%;

}

@media (max-width: 740px) {

    html,
    body,
    header,
        {
        height: 100vh;
    }
}

.headings {
    font-family: 'Ubuntu',
        sans-serif;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.sv {
    display: inline-block;
}

.top-nav-collapse {
    background: linear-gradient(to right, #D76D77, #3A1C71);

}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: linear-gradient(to right, #D76D77, #3A1C71);

    }
}

.emoji {
    display: inline-block;
    font-size: 35px;
    animation-delay: 1s;


}

@media (max-width: 1000px) {
    #about-img {
        visibility: hidden;
        bottom: 0;
        margin-bottom: -1000px;
    }

    .emoji {
        font-size: 30px;

    }

    .subHead,
    .head {
        font-size: 36px;
    }


}

.head {
    background-image: -webkit-linear-gradient(right, #fc466b, #3f5efb);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


#hm {
    transition: all 0.25s ease;
    margin: 5px;

}

#hm:hover {
    border: 1.5px black solid;
    border-radius: 10px;
    padding: 7px;

}

#ab {
    transition: all 0.25s ease;
    margin: 5px;
}

#ab:hover {
    border: 1.5px black solid;
    border-radius: 10px;
    padding: 7px;
}

#cn {
    transition: all 0.25s ease;
    margin: 5px;
}

#cn:hover {
    border: 1.5px black solid;
    border-radius: 10px;
    padding: 7px;
}

.headCol {
    color: #2b1c30;

}

.textCol {

    color: #978f99;
}

a {
    font-family: 'Roboto Condensed',
        sans-serif;
}

#btn1 {
    border-radius: 20px;
}

.bt1 {
    transition: all 1s ease;
}

.bt1:hover {
    border-radius: 40px;

}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 13px 18px -12px rgba(255, 255, 255, 0.8);
}



.top-nav-collapse,
.page-footer {
    background: #563e91;
    background: -webkit-linear-gradient(to right, #D76D77, #3A1C71);
    background: linear-gradient(to right, #D76D77, #3A1C71);
}