html,
body,
header,
    {
    height: 100%;
    background-color: #f4f4f4;

}

main {
    font-family: 'Raleway',
        sans-serif;
}

@media (max-width: 740px) {

    html,
    body,
    header,
        {
        height: 100vh;
    }
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.sv {
    display: inline-block;
}


#hm {
    transition: all 0.25s ease;
    margin: 5px;
    color: white;
}

#hm:hover {
    border: 1.5px white solid;
    border-radius: 10px;
    padding: 7px;
}

#ab {
    transition: all 0.25s ease;
    margin: 5px;
    color: white;
}

#ab:hover {
    border: 1.5px white solid;
    border-radius: 10px;
    padding: 7px;
}

#cn {
    transition: all 0.25s ease;
    margin: 5px;
    color: white;
}

#cn:hover {
    border: 1.5px white solid;
    border-radius: 10px;
    padding: 7px;
}



a {
    font-family: 'Roboto Condensed',
        sans-serif;
}

#btn1 {
    border-radius: 20px;
}

.bt1 {
    transition: all 1s ease;
}

.bt1:hover {
    border-radius: 40px;

}


.top-nav-collapse {
    background: linear-gradient(to right, #D76D77, #3A1C71);
}



@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: linear-gradient(to right, #D76D77, #3A1C71);
    }
}



.page-footer {

    width: 100%;
    bottom: 0px;
    background: #563e91;
    background: -webkit-linear-gradient(to right, #D76D77, #3A1C71);
    background: linear-gradient(to right, #D76D77, #3A1C71);
}

@media (max-width: 700px) {
    #svg1 {
        visibility: hidden;
    }

    form {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}

#heading {
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 55px;
    text-shadow: 2px 2px rgba(54, 51, 56, 0.2);
    letter-spacing: -2px;
}

@media (max-width: 500px) {


    #heading {
        font-size: 45px;
        text-shadow: 1px 2px rgba(54, 51, 56, 0.2);
        letter-spacing: -2px;

    }

}