html,
body,
header,
    {
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
        {
        height: 100vh;
    }
}

html,
body,
header,
#intro-section {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    #intro-section {
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
    }
}

#heading {
    font-family: 'Six Caps', sans-serif;
    font-size: 130px;
    letter-spacing: 5px;
}

#btn1 {
    margin: 30px;
    display: inline-block;
    border-radius: 20px;
}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 13px 18px -12px rgba(0, 0, 0, 0.2);
}



.rgba-gradient {
    background: rgba(35, 7, 77, 0.6);
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
}

.page-footer {
    background: #563e91;
    background: -webkit-linear-gradient(to right, #D76D77, #3A1C71);
    background: linear-gradient(to right, #D76D77, #3A1C71);
}



.vertical-divider {
    position: absolute;
    z-index: 10;
    top: 90%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 10%;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 9;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, .1);
    width: 0;
    height: calc(100% - 1rem);
}

.vertical-divider:before {
    top: -100%;
}

.vertical-divider:after {
    top: auto;
    bottom: 0;
}

@media (max-width: 740px) {
    .vertical-divider {
        position: absolute;
        z-index: 10;
        top: 95%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: auto;
        height: 5%;
        line-height: 0;
        text-align: center;
        text-transform: uppercase;
        transform: translateX(-50%);
    }
}