html,
body,
header,
    {
    height: 100%;


}


@media (max-width: 740px) {

    html,
    body,
    header,
        {
        height: 100vh;
    }
}


html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

#heading {
    font-family: 'Oswald',
        sans-serif;
    font-size: 80px;
    letter-spacing: -4px;
    text-shadow: 4px 3px 6px rgba(0, 1, 4, 0.4);

}

.subhead {
    text-shadow: 1px 2px 2px rgba(0, 1, 4, 0.4);
}

html,
body,
header,
#intro-section {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    #intro-section {
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
    }

    #or {
        font-size: 13px;
        margin: 6px;
        text-align: center;
    }

    #btn1 {

        width: 135px;
        padding: 10px;
        font-size: 11px;
        display: inline-block;
        border-radius: 20px;
        box-shadow: 4px 6px 6px rgba(0, 1, 4, 0.4);
        text-shadow: 2px 2px 2px rgba(0, 1, 4, 0.4);


    }

    #btn2 {

        width: 135px;
        padding: 10px;
        font-size: 11px;
        display: inline-block;
        border-radius: 20px;
        box-shadow: 4px 6px 6px rgba(0, 1, 4, 0.4);
        text-shadow: 2px 2px 2px rgba(0, 1, 4, 0.4);



    }
}

#btn2 {
    margin: 35px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 4px 6px 6px rgba(0, 1, 4, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 1, 4, 0.4);
    background: #4568DC;
    background-image: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background-image: linear-gradient(to right, #B06AB3, rgb(84, 69, 220));


}

#btn1 {
    margin: 35px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 4px 6px 6px rgba(0, 1, 4, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 1, 4, 0.4);
    background: #4568DC;
    background-image: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background-image: linear-gradient(to right, #B06AB3, rgb(84, 69, 220));

}

hr.style {
    height: 14px;
    border: 0;
    box-shadow: inset 0 13px 13px -12px rgba(0, 0, 0, 0.2);
}



.rgba-gradient {
    background: rgba(35, 7, 77, 0.6);
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
}

.page-footer {
    background: #563e91;
    background: -webkit-linear-gradient(to right, #D76D77, #3A1C71);
    background: linear-gradient(to right, #D76D77, #3A1C71);
}



.vertical-divider {
    position: absolute;
    z-index: 10;
    top: 89%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 10%;
    line-height: 0;
    text-align: center;
    transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 9;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, .1);
    width: 0;
    height: calc(100% - 1rem);
}

.vertical-divider:before {
    top: -100%;
}

.vertical-divider:after {
    top: auto;
    bottom: 0;
}

@media (max-width: 550px) {
    .vertical-divider {
        position: absolute;
        z-index: 10;
        top: 85.5%;
        left: 50%;
        margin: 0px;
        padding: 0;
        height: 0;
        width: auto;
        text-align: center;
        transform: translateX(-50%)
    }

    @media (max-width: 500px) {
        .vertical-divider {
            position: absolute;
            z-index: 10;
            top: 85.5%;
            left: 50%;
            margin: 0px;
            padding: 0;
            height: 0;
            width: auto;
            text-align: center;
            transform: translateX(-50%)
        }

        #heading {
            font-family: 'Oswald',
                sans-serif;
            font-size: 55px;
            letter-spacing: -4px;
            text-shadow: 8px 2px rgba(54, 51, 56, 0.2);

        }

    }