html,
body,
header,
    {
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
        {
        height: 100vh;
    }
}



.top-nav-collapse {
    background-color: #563e91 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #563e91 !important;
    }
}

#hm {
    transition: all 0.25s ease;
    margin: 5px;

}

#hm:hover {
    border: 1.5px black solid;
    border-radius: 16px;
    padding: 7px;
}

#ab {
    transition: all 0.25s ease;
    margin: 5px;
}

#ab:hover {
    border: 1.5px black solid;
    border-radius: 16px;
    padding: 7px;
}

#cn {
    transition: all 0.25s ease;
    margin: 5px;
}

#cn:hover {
    border: 1.5px black solid;
    border-radius: 16px;
    padding: 7px;
}



a {
    font-family: 'Roboto Condensed',
        sans-serif;
}

#btn1 {
    border-radius: 20px;
}

.bt1 {
    transition: all 1s ease;
}

.bt1:hover {
    border-radius: 40px;

}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 13px 18px -12px rgba(255, 255, 255, 0.8);
}


.rgba-gradient {
    background: rgba(35, 7, 77, 0.6);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-nav-collapse {
    background-color: #563e91 !important;
}

.top-nav-collapse,
.page-footer {
    background-color: #563e91 !important;
}